<div class="container">
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nombre:</label>
      <div class="input col-sm-4">
        <input type="text" class="form-control" #name placeholder="Ingresa tu nombre">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Apellido paterno:</label>
      <div class="input col-sm-4">
        <input type="text" class="form-control" #firstLastName placeholder="Ingresa tu apellido paterno">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Apellido materno:</label>
      <div class="input col-sm-4">
        <input type="text" class="form-control" #secondLastName placeholder="Ingresa tu apellido materno">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Edad:</label>
      <div class="input col-sm-4">
        <input type="number" class="form-control" #age placeholder="Ingresa tu edad">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
      <div class="input col-sm-4">
        <input type="text" class="form-control" #birthDate placeholder="Ingresa tu fecha de nacimiento">
      </div>
    </div>   
        <button type="button" class="btn" 
        (click)="saveData(name.value, firstLastName.value, secondLastName.value, age.value, birthDate.value)"
        data-toggle="modal" data-target=".bd-example-modal-sm">Registrar datos</button>
         <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <h4 class="text-center">...Se registro con éxito!!!</h4>
                </div>
            </div>
        </div>
  </form>
</div>
