<div class="dashboard">
  <div class="col-sm-5 ml-5">
    <table class="table">
      <thead class="thead">
        <tr class="tr text-center">
            <th scope="col"><button type="button" class="btn" (click)="promedio()">Promedio de edades</button></th>
            <th scope="col"><button type="button" class="btn" (click)="desviacionEstandar()">Desviación estándar de edades</button></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tbody">
          <td>{{totalPromedio}}</td>
          <td>{{totalDesviacionEstandar}}</td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div class="container-table ml-5 mr-5">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col">Nombre</th>
          <th scope="col">Apellido paterno</th>
          <th scope="col">Apellido materno</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Edad</th>
          <th scope="col">Defunción</th>
        </tr>
      </thead>
      <tbody *ngFor="let dataClient of dataClients">
        <tr class="text-center">
          <td>{{ dataClient.nombre }}</td>
          <td>{{ dataClient.apellidoPaterno }}</td>
          <td>{{ dataClient.apellidoMaterno }}</td>
          <td>{{ dataClient.fechaDeNacimiento }}</td>
          <td>{{ dataClient.edad | number }}</td>
          <td>{{ dataClient.fechaDefuncion.toDate() | date:'longDate'}}</td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>

